<div class="container mb-5">
  <form name="searchFoodForm" #heroForm="ngForm" (ngSubmit)="searchFood()">
    <div class="form-group">
      <input type="text" [(ngModel)]="model.searchTerm" name="searchTerm" class="form-control" id="searchTerm"
        placeholder="Search Food">
    </div>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Calories</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of dataSource">
        <td>
          {{ food.code }}
        </td>
        <td>{{ food.name}}</td>
        <td>{{ food.calories | number }}</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="foodListSize" [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>
  
      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
  </div>

</div>